HoopRunners/.vs/HoopRunners/FileContentIndex/02001e1e-aeb8-46a3-b2ed-b72cd067cfeb.vsidx
HoopRunners/.vs/HoopRunners/FileContentIndex/04b996bd-1225-4f77-ac27-29b870b6d747.vsidx
HoopRunners/.vs/HoopRunners/FileContentIndex/2da1133c-bbc9-40a2-ae82-08237c632877.vsidx
HoopRunners/.vs/HoopRunners/FileContentIndex/39e4da56-2abd-4325-bdbc-5e990a02db29.vsidx
HoopRunners/.vs/HoopRunners/FileContentIndex/3e744f1b-d6ea-454d-80c3-045b6e2e117c.vsidx
HoopRunners/.vs/HoopRunners/FileContentIndex/489c89a9-7e71-4e19-8661-3f7d7cfcf24e.vsidx
HoopRunners/.vs/HoopRunners/FileContentIndex/5c34ec28-f621-4b8d-8842-02515011db18.vsidx
HoopRunners/.vs/HoopRunners/FileContentIndex/5c688812-f07f-45b8-9b21-c3b4e82c303e.vsidx
HoopRunners/.vs/HoopRunners/FileContentIndex/69e0aba7-3f18-4397-9869-0f545586af18.vsidx
HoopRunners/.vs/HoopRunners/FileContentIndex/7bf593a7-5114-4182-a13a-2d0116622777.vsidx
HoopRunners/.vs/HoopRunners/FileContentIndex/9a87f8c0-0999-4295-8934-6379e865a267.vsidx
HoopRunners/.vs/HoopRunners/FileContentIndex/ab6aea70-b172-4b57-a858-3799439b5fc8.vsidx
HoopRunners/.vs/HoopRunners/FileContentIndex/abda8288-6d44-42b8-92d4-7a7ca061563e.vsidx
HoopRunners/.vs/HoopRunners/FileContentIndex/b8036832-bc9b-4ae7-9444-f8c64a00a94f.vsidx
HoopRunners/.vs/HoopRunners/FileContentIndex/bd184606-b3ab-4e26-8a8b-5d128c2f63ab.vsidx
HoopRunners/.vs/HoopRunners/FileContentIndex/c6c79c68-ccbe-4666-87bb-1ca7ae4ebb64.vsidx
HoopRunners/.vs/HoopRunners/FileContentIndex/d72f6443-1eba-4c41-b616-12a5e2c55700.vsidx
HoopRunners/.vs/HoopRunners/FileContentIndex/da38632b-70a1-4e9e-83ee-7dd4223b7f9d.vsidx
HoopRunners/.vs/HoopRunners/FileContentIndex/e4a625c2-a56a-4081-b9fd-8e223a58736b.vsidx
HoopRunners/.vs/HoopRunners/FileContentIndex/e96201ac-b1d3-407a-92ac-b5582407a7f1.vsidx
HoopRunners/.vs/HoopRunners/FileContentIndex/eaddd11c-2e4d-46ab-8516-b7ebfee31615.vsidx
HoopRunners/.vs/HoopRunners/FileContentIndex/f9511fc6-83b9-4e56-814b-c182d0a74052.vsidx
HoopRunners/.vs/HoopRunners/FileContentIndex/fe4a0f19-b833-4160-ac98-0676dae5e3a2.vsidx
HoopRunners/.vs/HoopRunners/FileContentIndex/fe5a2614-1a2f-4c37-811d-72367f70baaa.vsidx
HoopRunners/.vs/HoopRunners/FileContentIndex/ff3d7e4b-62b4-4cc4-9db7-6f445a8ee538.vsidx
HoopRunners/.vs/HoopRunners/v17/.futdcache.v2
HoopRunners/.vs/HoopRunners/v17/.suo
HoopRunners/.vs/HoopRunners/v17/Browse.VC.db
HoopRunners/.vs/HoopRunners/v17/DocumentLayout.backup.json
HoopRunners/.vs/HoopRunners/v17/DocumentLayout.json
HoopRunners/.vs/HoopRunners/v17/fileList.bin
HoopRunners/.vs/HoopRunners/v17/Solution.VC.db
HoopRunners/.vs/HoopRunners/v17/ipch/55a55f986ff11c14.ipch
HoopRunners/.vs/ProjectEvaluation/hooprunners.metadata.v9.bin
HoopRunners/.vs/ProjectEvaluation/hooprunners.projects.v9.bin
HoopRunners/.vs/ProjectEvaluation/hooprunners.strings.v9.bin
HoopRunners/Binaries/Win64/UnrealEditor-HoopRunners.dll
HoopRunners/Binaries/Win64/UnrealEditor-HoopRunners.pdb
HoopRunners/Content/Portal/BP_P.uasset
HoopRunners/Content/Portal/BP_Portal.uasset
HoopRunners/Content/Portal/BP_PortalShooter.uasset
HoopRunners/Content/Portal/M_Potal.uasset
HoopRunners/Content/Portal/RT_PortalA.uasset
HoopRunners/Content/Portal/RT_PortalB.uasset
HoopRunners/Intermediate/Build/SourceFileCache.bin
HoopRunners/Intermediate/Build/XmlConfigCache.bin
HoopRunners/Intermediate/Build/BuildRules/HoopRunnersModuleRules.dll
HoopRunners/Intermediate/Build/BuildRules/HoopRunnersModuleRules.pdb
HoopRunners/Intermediate/Build/BuildRules/HoopRunnersModuleRulesManifest.json
HoopRunners/Intermediate/Build/BuildRulesProjects/HoopRunnersModuleRules/HoopRunnersModuleRules.csproj
HoopRunners/Intermediate/Build/BuildRulesProjects/HoopRunnersModuleRules/obj/HoopRunnersModuleRules.csproj.nuget.dgspec.json
HoopRunners/Intermediate/Build/BuildRulesProjects/HoopRunnersModuleRules/obj/HoopRunnersModuleRules.csproj.nuget.g.props
HoopRunners/Intermediate/Build/BuildRulesProjects/HoopRunnersModuleRules/obj/HoopRunnersModuleRules.csproj.nuget.g.targets
HoopRunners/Intermediate/Build/BuildRulesProjects/HoopRunnersModuleRules/obj/project.assets.json
HoopRunners/Intermediate/Build/BuildRulesProjects/HoopRunnersModuleRules/obj/project.nuget.cache
HoopRunners/Intermediate/Build/BuildRulesProjects/HoopRunnersModuleRules/obj/Development/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
HoopRunners/Intermediate/Build/BuildRulesProjects/HoopRunnersModuleRules/obj/Development/HoopRunnersModuleRules.AssemblyInfo.cs
HoopRunners/Intermediate/Build/BuildRulesProjects/HoopRunnersModuleRules/obj/Development/HoopRunnersModuleRules.AssemblyInfoInputs.cache
HoopRunners/Intermediate/Build/BuildRulesProjects/HoopRunnersModuleRules/obj/Development/HoopRunnersModuleRules.assets.cache
HoopRunners/Intermediate/Build/BuildRulesProjects/HoopRunnersModuleRules/obj/Development/HoopRunnersModuleRules.csproj.AssemblyReference.cache
HoopRunners/Intermediate/Build/BuildRulesProjects/HoopRunnersModuleRules/obj/Development/HoopRunnersModuleRules.csproj.BuildWithSkipAnalyzers
HoopRunners/Intermediate/Build/BuildRulesProjects/HoopRunnersModuleRules/obj/Development/HoopRunnersModuleRules.GeneratedMSBuildEditorConfig.editorconfig
HoopRunners/Intermediate/Build/Win64/ActionHistory.bin
HoopRunners/Intermediate/Build/Win64/HoopRunnersEditor/Development/HoopRunnersEditor.deps
HoopRunners/Intermediate/Build/Win64/HoopRunnersEditor/Development/HoopRunnersEditor.uhtmanifest
HoopRunners/Intermediate/Build/Win64/HoopRunnersEditor/Development/HoopRunnersEditor.uhtpath
HoopRunners/Intermediate/Build/Win64/UnrealEditor/Inc/HoopRunners/UHT/HoopRunners.init.gen.cpp
HoopRunners/Intermediate/Build/Win64/UnrealEditor/Inc/HoopRunners/UHT/HoopRunnersClasses.h
HoopRunners/Intermediate/Build/Win64/UnrealEditor/Inc/HoopRunners/UHT/Portal.gen.cpp
HoopRunners/Intermediate/Build/Win64/UnrealEditor/Inc/HoopRunners/UHT/Portal.generated.h
HoopRunners/Intermediate/Build/Win64/UnrealEditor/Inc/HoopRunners/UHT/PortalShooter.gen.cpp
HoopRunners/Intermediate/Build/Win64/UnrealEditor/Inc/HoopRunners/UHT/PortalShooter.generated.h
HoopRunners/Intermediate/Build/Win64/UnrealEditor/Inc/HoopRunners/UHT/Timestamp
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/ActionHistory.bin
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/Makefile.bin
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/TargetMetadata.dat
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/Core/SharedDefinitions.Core.Cpp20.h
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/Core/SharedDefinitions.Core.RTTI.Cpp20.h
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/Core/SharedPCH.Core.Cpp20.cpp
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/Core/SharedPCH.Core.Cpp20.h
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/Core/SharedPCH.Core.Cpp20.h.obj.rsp
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/Core/SharedPCH.Core.RTTI.Cpp20.cpp
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/Core/SharedPCH.Core.RTTI.Cpp20.h
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/Core/SharedPCH.Core.RTTI.Cpp20.h.obj.rsp
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/CoreUObject/SharedDefinitions.CoreUObject.Cpp20.h
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/CoreUObject/SharedDefinitions.CoreUObject.RTTI.Cpp20.h
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/CoreUObject/SharedPCH.CoreUObject.Cpp20.cpp
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/CoreUObject/SharedPCH.CoreUObject.Cpp20.h
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/CoreUObject/SharedPCH.CoreUObject.Cpp20.h.obj.rsp
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/CoreUObject/SharedPCH.CoreUObject.RTTI.Cpp20.cpp
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/CoreUObject/SharedPCH.CoreUObject.RTTI.Cpp20.h
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/CoreUObject/SharedPCH.CoreUObject.RTTI.Cpp20.h.obj.rsp
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/Engine/SharedDefinitions.Engine.Cpp20.h
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/Engine/SharedDefinitions.Engine.Project.ValApi.ValExpApi.Cpp20.InclOrderUnreal5_3.h
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/Engine/SharedPCH.Engine.Cpp20.cpp
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/Engine/SharedPCH.Engine.Cpp20.h
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/Engine/SharedPCH.Engine.Cpp20.h.obj.rsp
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/Engine/SharedPCH.Engine.Project.ValApi.ValExpApi.Cpp20.InclOrderUnreal5_3.cpp
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/Engine/SharedPCH.Engine.Project.ValApi.ValExpApi.Cpp20.InclOrderUnreal5_3.h
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/Engine/SharedPCH.Engine.Project.ValApi.ValExpApi.Cpp20.InclOrderUnreal5_3.h.obj.rsp
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/Slate/SharedDefinitions.Slate.Cpp20.h
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/Slate/SharedPCH.Slate.Cpp20.cpp
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/Slate/SharedPCH.Slate.Cpp20.h
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/Slate/SharedPCH.Slate.Cpp20.h.obj.rsp
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/UnrealEd/SharedDefinitions.UnrealEd.Cpp20.h
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/UnrealEd/SharedDefinitions.UnrealEd.Project.ValApi.ValExpApi.Cpp20.InclOrderUnreal5_3.h
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/UnrealEd/SharedDefinitions.UnrealEd.RTTI.Cpp20.h
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/UnrealEd/SharedPCH.UnrealEd.Cpp20.cpp
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/UnrealEd/SharedPCH.UnrealEd.Cpp20.h
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/UnrealEd/SharedPCH.UnrealEd.Cpp20.h.obj.rsp
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/UnrealEd/SharedPCH.UnrealEd.Project.ValApi.ValExpApi.Cpp20.InclOrderUnreal5_3.cpp
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/UnrealEd/SharedPCH.UnrealEd.Project.ValApi.ValExpApi.Cpp20.InclOrderUnreal5_3.h
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/UnrealEd/SharedPCH.UnrealEd.Project.ValApi.ValExpApi.Cpp20.InclOrderUnreal5_3.h.dep.json
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/UnrealEd/SharedPCH.UnrealEd.Project.ValApi.ValExpApi.Cpp20.InclOrderUnreal5_3.h.obj
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/UnrealEd/SharedPCH.UnrealEd.Project.ValApi.ValExpApi.Cpp20.InclOrderUnreal5_3.h.obj.rsp
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/UnrealEd/SharedPCH.UnrealEd.Project.ValApi.ValExpApi.Cpp20.InclOrderUnreal5_3.h.pch
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/UnrealEd/SharedPCH.UnrealEd.Project.ValApi.ValExpApi.Cpp20.InclOrderUnreal5_3.h.sarif
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/UnrealEd/SharedPCH.UnrealEd.RTTI.Cpp20.cpp
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/UnrealEd/SharedPCH.UnrealEd.RTTI.Cpp20.h
HoopRunners/Intermediate/Build/Win64/x64/HoopRunnersEditor/Development/UnrealEd/SharedPCH.UnrealEd.RTTI.Cpp20.h.obj.rsp
HoopRunners/Intermediate/Build/Win64/x64/UnrealEditor/ActionHistory.bin
HoopRunners/Intermediate/Build/Win64/x64/UnrealEditor/Development/HoopRunners/Default.rc2.res
HoopRunners/Intermediate/Build/Win64/x64/UnrealEditor/Development/HoopRunners/Default.rc2.res.rsp
HoopRunners/Intermediate/Build/Win64/x64/UnrealEditor/Development/HoopRunners/Definitions.HoopRunners.h
HoopRunners/Intermediate/Build/Win64/x64/UnrealEditor/Development/HoopRunners/HoopRunners.cpp.dep.json
HoopRunners/Intermediate/Build/Win64/x64/UnrealEditor/Development/HoopRunners/HoopRunners.cpp.obj
HoopRunners/Intermediate/Build/Win64/x64/UnrealEditor/Development/HoopRunners/HoopRunners.cpp.obj.rsp
HoopRunners/Intermediate/Build/Win64/x64/UnrealEditor/Development/HoopRunners/HoopRunners.cpp.sarif
HoopRunners/Intermediate/Build/Win64/x64/UnrealEditor/Development/HoopRunners/HoopRunners.Shared.rsp
HoopRunners/Intermediate/Build/Win64/x64/UnrealEditor/Development/HoopRunners/LiveCodingInfo.json
HoopRunners/Intermediate/Build/Win64/x64/UnrealEditor/Development/HoopRunners/Module.HoopRunners.gen.cpp
HoopRunners/Intermediate/Build/Win64/x64/UnrealEditor/Development/HoopRunners/Module.HoopRunners.gen.cpp.dep.json
HoopRunners/Intermediate/Build/Win64/x64/UnrealEditor/Development/HoopRunners/Module.HoopRunners.gen.cpp.obj
HoopRunners/Intermediate/Build/Win64/x64/UnrealEditor/Development/HoopRunners/Module.HoopRunners.gen.cpp.obj.rsp
HoopRunners/Intermediate/Build/Win64/x64/UnrealEditor/Development/HoopRunners/Module.HoopRunners.gen.cpp.sarif
HoopRunners/Intermediate/Build/Win64/x64/UnrealEditor/Development/HoopRunners/PerModuleInline.gen.cpp
HoopRunners/Intermediate/Build/Win64/x64/UnrealEditor/Development/HoopRunners/PerModuleInline.gen.cpp.dep.json
HoopRunners/Intermediate/Build/Win64/x64/UnrealEditor/Development/HoopRunners/PerModuleInline.gen.cpp.obj
HoopRunners/Intermediate/Build/Win64/x64/UnrealEditor/Development/HoopRunners/PerModuleInline.gen.cpp.obj.rsp
HoopRunners/Intermediate/Build/Win64/x64/UnrealEditor/Development/HoopRunners/PerModuleInline.gen.cpp.sarif
HoopRunners/Intermediate/Build/Win64/x64/UnrealEditor/Development/HoopRunners/Portal.cpp.dep.json
HoopRunners/Intermediate/Build/Win64/x64/UnrealEditor/Development/HoopRunners/Portal.cpp.obj
HoopRunners/Intermediate/Build/Win64/x64/UnrealEditor/Development/HoopRunners/Portal.cpp.obj.rsp
HoopRunners/Intermediate/Build/Win64/x64/UnrealEditor/Development/HoopRunners/Portal.cpp.sarif
HoopRunners/Intermediate/Build/Win64/x64/UnrealEditor/Development/HoopRunners/PortalShooter.cpp.dep.json
HoopRunners/Intermediate/Build/Win64/x64/UnrealEditor/Development/HoopRunners/PortalShooter.cpp.obj
HoopRunners/Intermediate/Build/Win64/x64/UnrealEditor/Development/HoopRunners/PortalShooter.cpp.obj.rsp
HoopRunners/Intermediate/Build/Win64/x64/UnrealEditor/Development/HoopRunners/PortalShooter.cpp.sarif
HoopRunners/Intermediate/Build/Win64/x64/UnrealEditor/Development/HoopRunners/UnrealEditor-HoopRunners.dll.rsp
HoopRunners/Intermediate/Build/Win64/x64/UnrealEditor/Development/HoopRunners/UnrealEditor-HoopRunners.exp
HoopRunners/Intermediate/Build/Win64/x64/UnrealEditor/Development/HoopRunners/UnrealEditor-HoopRunners.lib
HoopRunners/Intermediate/Build/Win64/x64/UnrealEditor/Development/HoopRunners/UnrealEditor-HoopRunners.lib.rsp
HoopRunners/Intermediate/ProjectFiles/HoopRunners.vcxproj
HoopRunners/Intermediate/ProjectFiles/HoopRunners.vcxproj.filters
HoopRunners/Intermediate/ProjectFiles/HoopRunners.vcxproj.user
HoopRunners/Intermediate/ProjectFiles/UE5.vcxproj
HoopRunners/Intermediate/ProjectFiles/UE5.vcxproj.filters
HoopRunners/Intermediate/ProjectFiles/UE5.vcxproj.user
HoopRunners/Intermediate/ProjectFiles/UECommon.props
HoopRunners/Saved/BP_FirstPersonCharacter832A066F4544D4B9903C658FD6614B46.tmp
HoopRunners/Saved/BP_FirstPersonCharacter8A3C8D484787FDDC3A1681B5653C6C8C.tmp
HoopRunners/Saved/BP_FirstPersonCharacterECE2A546445543AB0361CFA9E39E2722.tmp
HoopRunners/Saved/Autosaves/PackageRestoreData.json
HoopRunners/Saved/Autosaves/Game/__ExternalActors__/FirstPerson/Lvl_FirstPerson/E/W8/XCEKQ0Y1KWCASNNI01E3Z6_Auto1.uasset
HoopRunners/Saved/Autosaves/Game/FirstPerson/Blueprints/BP_FirstPersonCharacter_Auto1.uasset
HoopRunners/Saved/Autosaves/Game/FirstPerson/Blueprints/BP_FirstPersonCharacter_Auto2.uasset
HoopRunners/Saved/Config/CrashReportClient/UECC-Windows-13DB561F442FF6F658CCF9BBF3DC223E/CrashReportClient.ini
HoopRunners/Saved/Config/CrashReportClient/UECC-Windows-2F709732489A229AE41F4286489F3E92/CrashReportClient.ini
HoopRunners/Saved/Config/CrashReportClient/UECC-Windows-6BAB3FDA4C66B42332EAD69A63D92E19/CrashReportClient.ini
HoopRunners/Saved/Logs/HoopRunners-backup-2026.05.20-03.42.49.log
HoopRunners/Saved/Logs/HoopRunners-backup-2026.05.20-04.09.31.log
